**/genn_recordings/*.npy filter=lfs diff=lfs merge=lfs -text
scripts/**/seed_*/*.npy filter=lfs diff=lfs merge=lfs -text
scripts/chi_*/nest_seed_*_*.npy filter=lfs diff=lfs merge=lfs -text
scripts/chi_*/seed_*_seed_*_*.npy filter=lfs diff=lfs merge=lfs -text

